.task-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding-bottom: 20px;
}

/* Text Field */

.task-input {
  width: 350px;
  font-size: 18px;
  background-color: #fff;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
}

/* Button Add Task */

.task-button {
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #00471b;
  color: #fff;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .task-input {
    font-size: 14px;
  }

  .task-button {
    font-size: 14px;
  }
}