@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=MonteCarlo&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #48487b;
  font-family: Lato, sans-serif;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* GitHub Logo */

.github-logo-container {
  margin: 4px;
  margin-top: auto;
}

.github-logo {
  height: 50px;
  cursor: pointer;
}

.shadow-drop-center:hover {
  border-radius: 50%;
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/* To Do List */

.todo-list-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 10px 25px 25px 25px;
  margin: 10px;
  border-radius: 26px;
  margin-top: auto;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .todo-list-principal {
    width: 95%;
    min-height: 350px;
  }
}